<div class="col-lg-6 px-5 justify-content-center">
   <!--<h1 class="mb-3 text-center fs-4">Answer Options</h1>-->

  <%= form_with model: @response, :id => "response form" do |form| %>

  <label for="test attempt id" class="visually-hidden">Question ID</label>   
  <input type="text" value="<%= @test_attempt.id %>" name="test_attempt[id]" 
         id="test attempt id" class="visually-hidden">
  
  <label for="user id" class="visually-hidden">Question ID</label>   
  <input type="text" value="<%= @user.id %>" name="user[id]" 
         id="user id" class="visually-hidden">
         
  <label for="question id" class="visually-hidden">Question ID</label>   
  <input type="text" value="<%= @question.id %>" name="question[id]" 
         id="question id" class="visually-hidden">
         
  <label for="milliseconds" class="visually-hidden">Question ID</label>   
  <input type="number" value=999999 name="milliseconds" 
         id="milliseconds" class="visually-hidden">
         
  
  <div class="text-center col-8 col-sm-6 col-md-4 col-lg-7 col-xl-4 mx-auto flex-row">
   
   
    <div class="row border-2 border-end border-start border-top">
      
      
        <div class="col border border-3 border-3 px-0">
          <table class="rounded-2 border border-5 btn-light mx-auto my-1" style="height: 40px; width: 40px">
            <tbody>
              <tr>            
                <td class="align-middle fs-4">1</td>
              </tr>
            </tbody>
          </table>          
        </div>
        
        
        <div class="col border border-3 border-3 px-0">
          <table class="rounded-2 border border-5 btn-light mx-auto my-1" style="height: 40px; width: 40px">
            <tbody>
              <tr>            
                <td class="align-middle fs-4">2</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col border border-3 border-3 px-0">
         <table class="rounded-2 border border-5  btn-light mx-auto my-1" style="height: 40px; width: 40px">
            <tbody>
              <tr>            
                <td class="align-middle fs-4">3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col border border-3 border-3 px-0">
          <table class="rounded-2 border border-5  btn-light mx-auto my-1" style="height: 40px; width: 40px">
            <tbody>
              <tr>            
                <td class="align-middle fs-4">4</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row border-2 border-start border-end" >
        <div class="col border border-3 px-0">
          
          <table class="rounded-circle border-0 mx-auto mt-1" style="height: 40px; width: 40px">
            <tbody>
              <tr>            
                <td class="align-middle fs-4"></td>
              </tr>
            </tbody>
          </table>
          
        <input type="radio" id=". first col" name="first col"
               value="." class="btn-check"> 
          <label for=". first col" class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
            <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
            <tbody>
              <tr>  
                <td class="align-middle fs-4">.</td>
              </tr>
            </tbody>
            </table>
          </label>
          
        </div>
        
        <div class="col border border-3 px-0">
          
        <input type="radio" id="/ second col" name="second col"
               value="/" class="btn-check">   
          <label for="/ second col" class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
          <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
            <tbody>
              <tr>
                <td class="align-middle fs-4">/</td>
              </tr>
            </tbody>
          </table>
          </label>
          
        <input type="radio" id=". second col" name="second col"
               value="." class="btn-check"> 
          <label for=". second col" class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
          <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
            <tbody>
              <tr>     
                <td class="align-middle fs-4">.</td>
              </tr>
            </tbody>
          </table>
        </label>
          
        </div>
        
        <div class="col border border-3 px-0">
          
        <input type="radio" id="/ third col" name="third col"
               value="/" class="btn-check"> 
          <label for="/ third col" class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
          <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
            <tbody>
              <tr>  
                <td class="align-middle fs-4">/</td>
              </tr>
            </tbody>
          </table>
          </label>
          
        <input type="radio" id=". third col" name="third col"
               value="." class="btn-check">  
          <label for=". third col" class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
          <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
            <tbody>
              <tr>            
                <td class="align-middle fs-4">.</td>
              </tr>
            </tbody>
          </table>
          </label>
          
        </div>
        
        
        <div class="col border border-3 px-0">
          
          <table class="rounded-circle border-0 mx-auto mt-1" style="height: 40px; width: 40px">
            <tbody>
              <tr>            
                <td class="align-middle fs-4"></td>
              </tr>
            </tbody>
          </table>
          
        <input type="radio" id=". fourth col" name="fourth col"
               value="." class="btn-check">   
          <label for=". fourth col"
          class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
          <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
            <tbody>
              <tr>
                <td class="align-middle fs-4">.</td>
              </tr>
            </tbody>
          </table>
          </label>
          
        </div>
        
      </div>
      
      <div class="row border-2 border-start border-end border-bottom" >
        
        <div class="col border border-3 px-0">
            <table class="rounded-circle border-0 mt-1 mx-auto" style="height: 40px; width: 40px">
              <tbody>
                <tr>            
                  <td class="align-middle fs-4"></td>
                </tr>
              </tbody>
            </table>
            
          <% (1..9).to_a.each do |num| %>
          <input type="radio" id="<%= num %> first col" name="first col"
                 value="<%= num %>" class="btn-check">
            <label for="<%= num %> first col" class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
              <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
                <tbody>
                  <tr>            
                    <td class="align-middle fs-4"><%= num %></td>
                  </tr>
                </tbody>
              </table>
            </label>
          <% end %>
          
        </div>
        
        <div class="col border border-3 px-0">
          <% (0..9).to_a.each do |num| %>
          <input type="radio" id="<%= num %> second col" name="second col"
                 value="<%= num %>" class="btn-check"> 
            <label for="<%= num %> second col" class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
              <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
              <tbody>
                <tr>
                  <td class="align-middle fs-4"><%= num %></td>
                </tr>
              </tbody>
            </table>
            </label>
          <% end %>
        </div>
        
        <div class="col border border-3 px-0">
          <% (0..9).to_a.each do |num| %>
          <input type="radio" id="<%= num %> third col" name="third col"
                 value="<%= num %>" class="btn-check"> 
            <label for="<%= num %> third col" class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
              <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
              <tbody>
                <tr>   
                  <td class="align-middle fs-4"><%= num %></td>
                </tr>
              </tbody>
            </table>
            </label>
          <% end %>
        </div>

        <div class="col border border-3 px-0">
          <% (0..9).to_a.each do |num| %>
          <input type="radio" id="<%= num %> fourth col" name="fourth col"
                 value="<%= num %>" class="btn-check"> 
            <label for="<%= num %> fourth col" 
            class="rounded-circle border-0 btn btn-secondary pt-0 mt-1 px-0" style="height: 40px; width: 40px">
              <table class="rounded-circle border-0 justify-content-center" style="height: 40px; width: 40px">
              <tbody>
                <tr>   
                  <td class="align-middle fs-4"><%= num %></td>
                </tr>
              </tbody>
            </table>
            </label>
          <% end %>
        </div>
      </div>
    </div>
 
  </div>
  
  <% end %>
  