<!--<div class="row flex-fill gx-0 py-4">-->
    <div class="col-6 text-center mx-auto mt-5 p-5 border border-light border-5 rounded">
  
  <h1><%= @test.name.split("|")[0].strip %></h1>
  <h2><%= @test.name.split("|")[1].strip %></h2>
  
  <p class="text-start ms-5">
      <br> 
    You are about to take the <span class="fw-bold"><%= @test.name.gsub("|", " ") %></span>.
    This test will determine your expected test score for the <span class="fw-bold"><%= @test.name.split("|")[0].strip %></span> section.
    This test has <span class="fw-bold"><%=@test.questions.count%></span> questions. You may exit the test at any time and resume from where you left off.
  </p>
  
  
    
  
    <%= form_with url: test_attempts_path, method: "post" do |form| %>
  
    <label for="test id" class="visually-hidden">Test ID</label>   
    <input type="text" value="<%= @test.id %>" name="test[id]" id="test id" class="visually-hidden">
  
    <label for="user id" class="visually-hidden">User ID</label>   
    <input type="text" value="<%= @user.id %>" name="user[id]" id="user id" class="visually-hidden">
  
    <div class="col-8 d-grid mx-auto text-center pt-1">
    <% if @user.test_attempts.empty? %>
     <%= form.submit "Begin Test", class: "btn btn-lg btn-primary" %>
    <% else %>
    <p>You have completed 
      <span class="fw-bold">
        <%=  @num_responses %> of <%= @test.questions.count %>
      </span> 
      questions.  
    </p>
    
      <%= link_to "Continue Test", test_question_path(@test.id, @next_question), :class => "btn btn-lg btn-primary" %>
    <% end %>
     
    </div>
      <% end %>
  
  
    </div>
<!--</div>-->
