<% provide(:title, "Question Time!") %>

<div class="row flex-fill gx-0 py-4">
  <div class="col-lg-6 px-5 border-end border-light border-5 rounded">
    <!--<h1 class="mb-3 text-center">Question</h1>-->
    
    
    <p class="fs-5">
      <%= @question.body %>
    </p>
    
  </div>


  <div class="col-lg-6 px-5 justify-content-center">
   <!--<h1 class="mb-3 text-center fs-4">Answer Options</h1>-->

  <%= form_with url: responses_path, method: "post", :id => "response form" do |form| %>

  <label for="test attempt id" class="visually-hidden">Question ID</label>   
  <input type="text" value="<%= @test_attempt.id %>" name="test_attempt[id]" 
         id="test attempt id" class="visually-hidden">
  
  <label for="user id" class="visually-hidden">Question ID</label>   
  <input type="text" value="<%= @user.id %>" name="user[id]" 
         id="user id" class="visually-hidden">
         
  <label for="question id" class="visually-hidden">Question ID</label>   
  <input type="text" value="<%= @question.id %>" name="question[id]" 
         id="question id" class="visually-hidden">
         
  <label for="milliseconds" class="visually-hidden">Question ID</label>   
  <input type="number" value=999999 name="milliseconds" 
         id="milliseconds" class="visually-hidden">
         
<div class="btn-group-justified btn-group-toggle" data-toggle="buttons">

  <% @question.options.each_with_index do |option, letter| %>

      <div class="row py-2 border-top border-light border-5 rounded" >
        <label for="<%= @letters[letter]%>" type="button"
        class="btn btn-outline-primary border-0 text-start d-flex align-items-center">
            <div class="badge rounded-3 d-block bg-secondary fs-4" style="width: 50px">
             <span class="align-text-top m-0"><%= @letters[letter] %></span>
            </div>
          
         <div class="col pb-1">
            <span class="fs-3 text-dark d-inline-block border-0 ps-4">
              <input type="radio" id="<%= @letters[letter]%>" name="option"
               value="<%=option.value%>" class="visually-hidden">
              <%=option.value %>
            </span>
          </div>
        </label>
      </div>
        
  <% end %>

      <div class="row py-2 border-bottom border-top border-light border-5 rounded" >
        <label for="?" type="button" class="btn btn-outline-primary border-0 text-start d-flex align-items-center">
          <div class="badge rounded-3 d-block bg-secondary fs-4 px-3" style="width: 50px">
           <span class="align-text-top">?</span>
          </div>
         <div class="col pb-1">
           <span class="fs-3 text-dark d-inline-block ps-4">
            <input type="radio" id="?" name="option" value="I don't know"
            class="visually-hidden">
            I don't know
          </span>
        </div>
        </label>
      </div>
 
</div>
  
  <% end %>



  </div>
</div>

   
