<% provide(:title, "Question Time!") %>


<div class="row flex-fill gx-0 py-4">
  <div class="col-lg-6 px-5 border-end border-light border-5 rounded">
    <!--<h1 class="mb-3 text-center">Question</h1>-->

  <% if !@question.image.empty? %>    
      <div class="row mb-5">
        <div class="col text-center">
        <%= image_tag(@question.image) %>
        </div>
      </div>
    <% else %>
  <% end %>  
  
  
  <!--<%# if @strategies.where( :name => "On Target").first.active == true %>-->
  
    <p class="fs-5 align-center">
      <span id="question_body" class="blurred d-inline"><%= @question.body.gsub(@question.prompt, "") %></span>
      <span id="question_prompt" onclick="onTarget()" class="btn link-info d-inline fw-bold fs-5 p-0 m-0 align-text-top"><%= @question.prompt %></span>
    </p>
    
  <%# else %>
 
    <p class="fs-5">
      <span><%= @question.body.gsub(@question.prompt, "") %></span>
      <span><%= @question.prompt %></span>
    </p>
    
  <%# end %>
    
  </div>

  <% if @question.style.name == "math select one" %>
  
      <%= render 'questions/math_select_one' %>

 <% else %>
 
     <%= render 'questions/math_input' %>

  <% end %>

</div>
   

      <%= render 'questions/footer' %>
      
<script>
    function onTarget() {
      // find id of element that was clicked
      question_body = document.getElementById("question_body")
      // // find value of element that was clicked
      question_prompt = document.getElementById("question_prompt")
      question_prompt.setAttribute("class", "")
      question_body.setAttribute("class", "")
    }
</script>