<% provide(:title, "Confirmation") %>

<div class="row">
  <div class="col-lg-6 offset-lg-3 p-5 border border-light border-5 rounded ">
    <h1 class="mb-3">Confirm Account</h1>


    <%= form_for(resource, as: resource_name, 
                 url: confirmation_path(resource_name), 
                 html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
        <!--<%= f.label :email %><br />-->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            class: "form-control mb-4", placeholder: "Email",
            value: (resource.pending_reconfirmation? ? 
            resource.unconfirmed_email : resource.email) %>
    
      <div class="row mx-auto col-lg-7 ">
        <%= f.submit "Send Confirmation Email", 
                      class: "btn btn-primary mb-3" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links_login" %>

    
   </div>
</div>
