<% provide(:title, 'Settings') %>
<h1>Settings</h1>

<h2><i>Leave fields blank if you don't want to change them</i></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <% if resource.unconfirmed_email %>
     <h2 class="unconfirmed_email alert alert-danger">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          Currently waiting for confirmation from: <%= resource.unconfirmed_email %>
      <% end %>
    </h2>
    <% end %>
    
    <%= form_for(resource, as: resource_name, 
                 url: registration_path(resource_name), 
                 html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
        <%= f.label :email, "Enter new email" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    
        <%= f.label :password, "Enter new password" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>

    
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    
        <%= f.label :current_password, "Authorize changes with current password" %> 
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
    
        <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
    
    <br>
    <br>
    
    <p>Unhappy? <%= button_to "Cancel Account", registration_path(resource_name), 
                data: { confirm: "Are you sure?" }, method: :delete,
                class: "btn btn-secondary"%></p>
    
    <!--<%= link_to "Back", :back %>-->

  </div>
</div>