<% provide(:title, 'Dashboard') %>

<div class="container-fluid">
  <div class="row">
  
    <%= render 'users/dashboard-sidenav' %>

    <main class="col-md-9 col-lg-10 ms-sm-auto px-md-4 vh-100 overflow-none" id="mainArea">
      
    <%= render 'users/dashboard-header' %>
      
<div class="overflow-auto">
        
  <div class="row justify-content-around flex-fill gx-0 py-5 pt-3">
    
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= notice %></p>
      <% elsif flash[:alert] %>  
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>  
    
   
  <% if !@test_attempts.first.score.to_s.empty? %>
   
     <!--if user has completed the first test, open up the apps views-->
        
    <% if !request.path.match("/dashboard/review/concepts").nil?  %>
    
      <%= render 'categories/review-concepts' %>
      
    <% elsif !request.path.match("/dashboard/review/strategies").nil?  %>
    
      <%= render 'strategies/review-strategies' %>
      
    <% elsif !request.path.match("/dashboard/review/results").nil?  %>    
    
      <%= render 'test_attempts/review-results' %>  
      
    <% elsif !request.path.match("/dashboard/train/concepts").nil?  %>    
    
      <%= render 'categories/train-concepts' %>
    
    <% elsif !request.path.match("/dashboard/train/strategies").nil?  %>    
    
      <%= render 'strategies/train-strategies' %>
    
    <% elsif !request.path.match("/dashboard/train/questions").nil?  %>    
  
      <%= render 'tests/train-questions' %>
    
    <% elsif !request.path.match("/dashboard/train/tests").nil?  %>    
    
      <%= render 'tests/train-tests' %>
    
    <% elsif !request.path.match("/dashboard/plan/study").nil?  %>    
    
      <%= render 'users/plan-study' %>
    
    <% elsif !request.path.match("/dashboard/plan/level_up").nil?  %>    
    
      <%= render 'users/plan-level_up' %>
      
    <% elsif !request.path.match("/dashboard/account").nil?  %>    
    
      <%= render 'devise/registrations/edit' %>  
    
    <% elsif !request.path.match("/dashboard/settings").nil?  %>    
    
      <%= render 'users/settings' %>  
    
    <% else %>
    
     <%= render 'test_attempts/review-results' %> 
     
   <% end %>  
    
  <% elsif @test_attempts.first.score.to_s.empty? && !request.path.match("/dashboard/account").nil?  %>
  
    <%= render 'devise/registrations/edit' %>  
  
  <% else %>
   <!--if user has not completed the first test, all dashboard pages show same page-->
      <%= render 'tests/train-tests' %>
      
  <% end %>    
    
  </div>

      <!--<canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="878" height="370" style="display: block; width: 878px; height: 370px;"></canvas>-->

<!--      <h2>Section title</h2>-->
<!--        <div class="table-responsive">-->
<!--          <table class="table table-striped table-sm">-->
<!--            <thead>-->
<!--              <tr>-->
<!--                <th>#</th>-->
<!--                <th>Header</th>-->
<!--                <th>Header</th>-->
<!--                <th>Header</th>-->
<!--                <th>Header</th>-->
<!--              </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              <tr>-->
<!--                <td>1,001</td>-->
<!--                <td>random</td>-->
<!--                <td>data</td>-->
<!--                <td>placeholder</td>-->
<!--                <td>text</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,002</td>-->
<!--                <td>placeholder</td>-->
<!--                <td>irrelevant</td>-->
<!--                <td>visual</td>-->
<!--                <td>layout</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,003</td>-->
<!--                <td>data</td>-->
<!--                <td>rich</td>-->
<!--                <td>dashboard</td>-->
<!--                <td>tabular</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,003</td>-->
<!--                <td>information</td>-->
<!--                <td>placeholder</td>-->
<!--                <td>illustrative</td>-->
<!--                <td>data</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,004</td>-->
<!--                <td>text</td>-->
<!--                <td>random</td>-->
<!--                <td>layout</td>-->
<!--                <td>dashboard</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,005</td>-->
<!--                <td>dashboard</td>-->
<!--                <td>irrelevant</td>-->
<!--                <td>text</td>-->
<!--                <td>placeholder</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,006</td>-->
<!--                <td>dashboard</td>-->
<!--                <td>illustrative</td>-->
<!--                <td>rich</td>-->
<!--                <td>data</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,007</td>-->
<!--                <td>placeholder</td>-->
<!--                <td>tabular</td>-->
<!--                <td>information</td>-->
<!--                <td>irrelevant</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,008</td>-->
<!--                <td>random</td>-->
<!--                <td>data</td>-->
<!--                <td>placeholder</td>-->
<!--                <td>text</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,009</td>-->
<!--                <td>placeholder</td>-->
<!--                <td>irrelevant</td>-->
<!--                <td>visual</td>-->
<!--                <td>layout</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,010</td>-->
<!--                <td>data</td>-->
<!--                <td>rich</td>-->
<!--                <td>dashboard</td>-->
<!--                <td>tabular</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,011</td>-->
<!--                <td>information</td>-->
<!--                <td>placeholder</td>-->
<!--                <td>illustrative</td>-->
<!--                <td>data</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,012</td>-->
<!--                <td>text</td>-->
<!--                <td>placeholder</td>-->
<!--                <td>layout</td>-->
<!--                <td>dashboard</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,013</td>-->
<!--                <td>dashboard</td>-->
<!--                <td>irrelevant</td>-->
<!--                <td>text</td>-->
<!--                <td>visual</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,014</td>-->
<!--                <td>dashboard</td>-->
<!--                <td>illustrative</td>-->
<!--                <td>rich</td>-->
<!--                <td>data</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>1,015</td>-->
<!--                <td>random</td>-->
<!--                <td>tabular</td>-->
<!--                <td>information</td>-->
<!--                <td>text</td>-->
<!--              </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </main>-->
<!--  </div>-->
<!--</div>-->