<div class="row flex-fill gx-0 py-0">
  <div class="col-lg-12 px-5 border-light border-5 rounded">

  <!--<div class="text-center pb-2">-->
  <!--  <%= image_tag("chart.png") %>-->
  <!--</div>-->
  
    <!--<div class="btn-group-justified btn-group-toggle">-->
  <h1>Select a Test to Review Results</h1>  
    <% @test_attempts.each do |test_attempt| %>
      
            <div class="row py-2 border-top border-light border-5 rounded" >
        <!--  <input type="radio" id="?" name="option" value="I don't know"-->
        <!--class="btn-check d-none">-->
        <a href="/tests/<%= test_attempt.test.id %>/responses/"
        class="btn btn-outline-info border-0 text-start d-flex align-items-center py-0">
          
        <div class="col-1">  
          <table class="rounded-circle border-0 bg-secondary text-center" style="height: 40px; width: 40px">
           <tbody>
              <tr>
                <td class="align-middle fs-4"><i class="fas fa-check"></i></td>
              </tr>
            </tbody>
           </table>
        </div>
      
        <div class="col">  
            <div class="row flex-fill gx-0 py-0">
               <span class="fs-4 text-dark d-inline-block ps-4">
                <%= test_attempt.test.name %>
                </span>
              </div>
            
            <div class="row flex-fill gx-0 py-0">
                <span class="fs-5 text-dark d-inline-block ps-4">
                Raw Score: <%= test_attempt.score %>
                </span>
            </div>
        </div>  
        
            <div class="col-2">  
               <span class="fs-5 text-dark d-inline-block ps-4">
                Scaled Score: <%= (test_attempt.score.to_f / 20.0 * 58 *10.345 + 200).round() %>
                </span>
            </div> 
            
            <div class="col-2">  
                <span class="fs-5 text-dark d-inline-block ps-4">
                <%= (test_attempt.score.to_f / 20 * 100).round() %>% correct
                </span>
            </div>
         
        </a>
        </div>
 
      
 <% end %>
      <div class="row py-2 border-top border-light border-5 rounded" ></div?
   </div>
</div>