<!--<div class="row flex-fill gx-0 py-4">-->
    <div class="col-6 text-center mx-auto mt-5 p-5 border border-light border-5 rounded">
  
  <h1>Math - No Calculator</h1>
  <h2>Performance Assessment Test</h2>
  
  <h2 class="mt-5">Questions Correct: <%= @test_attempt.score.to_s + " out of " + @test_attempt.responses.count.to_s  %> </h2>
  <h2 class="mb-5">Scaled Score: <%= (@test_attempt.score.to_f / 20.0 * 58 *10.345 + 200).round() %> </h2>
  
    
  
    <%= form_with url: test_attempts_path, method: "post" do |form| %>
  
    <label for="test id" class="visually-hidden">Test ID</label>   
    <input type="text" value="<%= @test.id %>" name="test[id]" id="test id" class="visually-hidden">
  
    <label for="user id" class="visually-hidden">User ID</label>   
    <input type="text" value="<%= @user.id %>" name="user[id]" id="user id" class="visually-hidden">
  
    <div class="col-8 d-grid mx-auto text-center pt-1">
      <%= link_to "Review Test", test_response_path(@test.id, @responses.where(:question_id => 1 ).first), :class => "btn btn-lg btn-primary" %>
    </div>
    
      <% end %>
  
  
    </div>
<!--</div>-->
