<header class="navbar navbar-fixed-top navbar">
  <div class="container">


      <a href="/" id="logo">SATsucceed
      <i class="fas fa-graduation-cap fa-2x", id="logo-symbol"></i>
      </a>

  
  <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",     root_path %></li>
        <li><%= link_to "Blog",     blog_path %></li>
        <li><%= link_to "About",    about_path %></li>
        <li><%= link_to "Support",  support_path %></li>
        <li><%= link_to "Log in",   login_path %></li>
      </ul>
    </nav>
  </div>
</header>